body{
	font-family:"verdana";
	font-size:75%;
	background-color:pink;
}

.error{
	background-color:yellow;
	border-color:red;
}

fieldset{
	width:180px;
	background-color:#eeeeee;
	top:130px;
	right:30px;
}
ul{
	font-weight:bold;
}
